.container {
    width: 80%;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}
.form{
    margin-left: 200px;
     justify-content: center;
  align-items: center;
    background-color:  paleturquoise;
    box-sizing: border-box;
    max-width: 600px;
    display: flex;
  flex-direction: column;
  width: 45rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.input{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 500px;
}

.book{
    margin-left: 30px;
   color: rgb(160, 48, 160);
    
}
.btn{
    color: white;
    background-color: rgb(32, 2, 32);
    cursor: pointer;
    max-height: 60px;
    max-width: 100px;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
.btn:hover{
    color: rgb(139, 48, 48);
}
.dataList {
    background-color:rgb(25, 37, 41);
    margin: 5px;
    text-align: start;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
   
}

.data-container{
    justify-content: center;
    align-items: center;
       width: 90%;
    border-radius: 10px;
    box-sizing: border-box;
    
}
.card-container{
    justify-content: center;
    align-content: center;
    
}
.listBtn {
        display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
   color: white;
}
.deletebtn{
    cursor: pointer;
    color: red;
}
.deletebtn:hover{
    color: white;
}
.title{
    color: blanchedalmond;
}
.title:hover{
    color: blue;
}
